.createAccountContainer h1{
    color: #FF8E9E;
    font-size: 3rem;
    font-weight: bolder;
}
.createAccountContainer{
  background-image: url('./createAccBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem;
}

.createAccForm h4{
    font-weight: 200;
    margin: 1rem;
}

.inputFieldCrt{
    background-color: black;
    opacity: 0.45;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;
    margin: 5px;
    color: white;
    width: 25%;
}

.createAccForm{
    position: relative;
    left: 30%;
    padding: 1.5rem;
}

.subButtonCrt input{
    background-color: #FF597B;
    width: 12%;
    padding: 1rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0px 2px 3px black;
    position: relative;
    left: 8%;
    margin-top: 1.2%;
    cursor: pointer;
}
